/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.radio-group {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}


.radio-group:nth-child(even) input[type="radio"],
.radio-group:nth-child(even) label {
    /* color: red; */
	color: rgb(255, 0, 0);
}

input[type="radio"]:disabled + label {
    opacity: 0.5;
    cursor: not-allowed;
}

